**Problem 1: Unique Words in a Sentence**

In [1]:
sentence=input("Enter sentence: ")
words=sentence.split()
unique_words=set(words)
print("Unique words count:",len(unique_words))
print("Unique words:",unique_words)

Enter sentence: Innomatics lab tasks
Unique words count: 3
Unique words: {'tasks', 'Innomatics', 'lab'}

**Problem 2: Highest Salary from Employee Data**

In [2]:
employees={"Ravi":75000,"Anita":68000,"Kiran":72000}
max_employee=""
max_salary=0
for name,salary in employees.items():
    if salary>max_salary:
        max_salary=salary
        max_employee=name
print("Highest Salary:",max_employee,"-",max_salary)

Highest Salary: Ravi - 75000

**Problem 3: Find Maximum and Minimum Values**

In [3]:
numbers=[45,22,89,10,66]
max_val=numbers[0]
min_val=numbers[0]
for num in numbers:
    if num>max_val:
        max_val=num
    if num<min_val:
        min_val=num
print("List:",numbers)
print("Max:",max_val)
print("Min:",min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**Problem 4: Count Products Above a Price Threshold**

In [4]:
prices=[450,1200,899,1500,300]
count=0
for price in prices:
    if price>1000:
        count+=1
print("Products above 1000:",count)

Products above 1000: 2

**Problem 5: Calculate Attendance Percentage**

In [5]:
attendance=["P","P","A","P","P"]
present=attendance.count("P")
percentage=(present/len(attendance))*100
print("Attendance Percentage:",percentage)

Attendance Percentage: 80.0

**Problem 6: Remove Duplicate Phone Numbers**

In [6]:
phone_numbers=[9876543210,9123456789,9876543210]
unique_numbers=set(phone_numbers)
print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

**Problem 7: Count Character Frequency**

In [7]:
string="python"
freq={}
for ch in string:
    if ch in freq:
        freq[ch]+=1
    else:
        freq[ch]=1
print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**Problem 8: Convert List to Tuple**

In [8]:
lst=[10,20,30]
tup=tuple(lst)
print("Tuple:",tup)

Tuple: (10, 20, 30)

**Problem 9: Check if a Key Exists in a Dictionary**

In [9]:
employees={"Ravi":75000,"Anita":68000,"Kiran":72000}
key="Ravi"
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

**Problem 10: Calculate Average Marks**

In [10]:
marks=[70,75,80,65]
average=sum(marks)/len(marks)
print("Average Marks:",average)

Average Marks: 72.5